<div class="footer">
  <div class="container"> Copyright © 2015 www.EVA all rights reserved.
    <div class="socialShare" >
    <a href='http://www.facebook.com/sharer.php?s=100&p[url]=http://eve-staging.herokuapp.com'><img src="/images/icons/fb.png"></a>
      <!-- <a href="#"><img src="/images/icons/fb.png"></a> -->
      <a href="#"><img src="/images/icons/tw.png"></a>
      <a href="#"><img src="/images/icons/li.png"></a>
      <a href="#"><img src="/images/icons/gp.png"></a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>