<div class="header">
  <div class="container" style="width:96%;">
    <div class="logo"> <a href="<%= root_url %>"><img src="/images/logo.png" alt="" border="0"></a> </div>
    <div class="naviOuter">
      <ul>
        <li> <a href="/how_eve_work" class="activeLink"> How it works </a></li>
        <li> <a href="/who_we_are"> Who we are </a></li>
        <li> <a href="/contacts"> Contact</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>